# Starting with Python on Jupyter Notebook

In [1]:
#check for the python version 
import sys 
print(sys.version)

3.11.5 (v3.11.5:cce6ba91b3, Aug 24 2023, 10:50:31) [Clang 13.0.0 (clang-1300.0.29.30)]

<div class="alert alert-success alertsuccess" style="margin-top: 20px">
<code> sys </code> is build in module that contains system related parameters and functions 
</div>

Python is interpreted language - check about this more

In [7]:
sys.float_info # gives information about float in the system

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [8]:
type(6//2) # double slash stands for interger division

int

#### String in python

In [57]:
# We can use negative indexing in strings 
strs = "Rubina Parveen" 
strs[-1 ]

'n'

In [32]:
strs[-14]

'R'

In [38]:
strs[0:14]

'Rubina Parveen'

|R | u| b| i| n| a |  | P| a | r| v | e | e| n |
|--|--|--|--|--|---|--|--|---|--|---|---|--|---|
|-14|-13|-12|-11|-10|-9|-8|-7|-6|-5|-4|-3|-2|-1|
|0|1|2|3|4|5|6|7|8|9|10|11|12|13|14|

In [39]:
# Select every second variable 
strs[::2]

'Rbn ave'

In [45]:
#Select every 2nd value upto index 9
strs[0:9:2]

'Rbn a'

In [46]:
#Length of strs 
len(strs)

14

In [48]:
#Concatenate strings 
strs + " is the best at what she does"

'Rubina Parveen is the best at what she does'

In [58]:
# replicate the strs 
3 * strs

'Rubina ParveenRubina ParveenRubina Parveen'

In [59]:
strs[0] = "L"  # this is not allowed

TypeError: 'str' object does not support item assignment

In [60]:
strs = strs + " the best person" # But this is allowed

In [61]:
strs

'Rubina Parveen the best person'

In [24]:
#Escape sequences 
print("Rubina Parveen is a good person.\nShe is working hard to get better everyday. \nShe will get the best job.")

Rubina Parveen is a good person.
She is working hard to get better everyday.
She will get the best job.

In [65]:
print("Rubina Parveen \t can do anything")

Rubina Parveen 	 can do anything

In [67]:
print("Rubina Parveen \\ Ms CE")

Rubina Parveen \ Ms CE

#### Methods for string

In [68]:
# upper() - upper cased string 
print(strs.upper())

RUBINA PARVEEN THE BEST PERSON

In [69]:
# replace() - replaces the given string with new one 
print(strs.replace('Parveen','Mathew'))

Rubina Mathew the best person

In [72]:
#find() - finds a substring in the sentence and gives it index 
print(strs.find('son'))

27

In [73]:
#if substring not present it gives -1 
print(strs.find('bt'))

-1

#### String Formats

In [1]:
#f strings 
name = "Rubina" 
age = "28" 
print(f"My name is {name} and I am {age} year old");

My name is Rubina and I am 28 year old

In [3]:
#use of format() method 
name = "Rubina Parveen" 
age = 28 
print("My name is {} and I am {} years old".format(name,age))

My name is Rubina Parveen and I am 28 years old

In [4]:
#using % operator 
print("My name is %s and I am %d years old."%(name,age))

My name is Rubina Parveen and I am 28 years old.

In [7]:
x = 30
y = 40 
print(f"sum of x and y is {x+y}")

sum of x and y is 70

In [14]:
name = "Rubina Parveen"
name[-14:]

'Rubina Parveen'

Slicing and Stride 
Slicing is selecting a range from the string. Eg: name[0:4] will give me Rubi
Stride means to give a pattern of selection. Eg: name[::2] will select every second value in name string i.e. Rbn ave

In [15]:
name[0:4]

'Rubi'

In [16]:
name[4:10]

'na Par'

In [16]:
name[::2]

'Rbn ave'

We can also include slicing along with stride

In [19]:
name[0:7:2] # in range 0-7 select every 2nd element

'Rbn '

In [22]:
print(r"this is new \ to me ") # we do not need an escape character here because 
#we defined the string raw using r at the begining

this is new \ to me

#### String Manipulation

In [26]:
# using upper()
a = "Its a great day today"
print(a)

Its a great day today

In [27]:
print(a.upper())

ITS A GREAT DAY TODAY

In [33]:
#replace method 
a = "Your contribuion to the company is appreciated"
a.replace('contribuion','contribution')

'Your contribution to the company is appreciated'

In [34]:
#find() method 
a.find('tion')

-1

In [31]:
a.find('com')

24

In [32]:
#split string 
a.split()

['Your', 'contribuion', 'to', 'the', 'company', 'is', 'appreciated']

#### RegEX

In [35]:
import re

In [41]:
sentence = "Rubina Parveen is a Masters in Computer Engineering Student" 
# we will be looking into seach method in re 

# define a pattern to be searched 
pattern = r"Masters"

#use search() to find the pattern in the string 

result = re.search(pattern, sentence)

if result: 
    print("Found match")
else: 
    print("Match not found\n")

Found match

Regular expressions (RegEx) are patterns used to match and manipulate strings of text. There are several special sequences in RegEx that can be used to match specific characters or patterns.

| Special Sequence | Meaning                 | 	Example             |
| -----------  | ----------------------- | ----------------------|
| \d|Matches any digit character (0-9)|"123" matches "\d\d\d"|
|\D|Matches any non-digit character|"hello" matches "\D\D\D\D\D"|
|\w|Matches any word character (a-z, A-Z, 0-9, and _)|"hello_world" matches "\w\w\w\w\w\w\w\w\w\w\w"|
|\W|Matches any non-word character|	"@#$%" matches "\W\W\W\W"|
|\s|Matches any whitespace character (space, tab, newline, etc.)|"hello world" matches "\w\w\w\w\w\s\w\w\w\w\w"|
|\S|Matches any non-whitespace character|"hello_world" matches "\S\S\S\S\S\S\S\S\S"|
|\b|Matches the boundary between a word character and a non-word character|"cat" matches "\bcat\b" in "The cat sat on the mat"|
|\B|Matches any position that is not a word boundary|"cat" matches "\Bcat\B" in "category" but not in "The cat sat on the mat"|

In [47]:
#search 
pattern = r"\d\d\d\d\d\d\d\d\d\d"
text = "My number is 1234567890"
match = re.search(pattern,text)
if match:
    print("Number found : ",match.group())
else:
    print("not found")

Number found :  1234567890

In [46]:
#findall()
pattern = r"\W"
text = "hello, world!"
matched = re.findall(pattern, text)

print("matches: ",matched)

matches:  [',', ' ', '!']

In [48]:
#sub function - substitute the given pattern with a specific pattern 

sentence = "Shreya is a good singer and is considered as one of the best in the industry"
pattern = "good"
replacement = "legend"
result = re.sub(pattern, replacement, sentence, flags=re.IGNORECASE)
print(result)

Shreya is a legend singer and is considered as one of the best in the industry

In [50]:
str1 = "Fun Python"
str1[4:10]

'Python'

In [51]:
str(1+1)

'2'

In [52]:
type("7.1")

str

#### List and Tuples

Tuple: Built in data type that allows to create a sequence of immutable data types. Data in a tuple can be of any type. Eg: T = ('asdf',20.32,18,[2,4,5]). 
We can concatenate in tuple using T = T + ("hello", 56.3)

In [9]:
T = ("Hello", 7.8,90)
T

('Hello', 7.8, 90)

In [10]:
T = T + ("World", 122)

In [11]:
T

('Hello', 7.8, 90, 'World', 122)

We can slice tuples and can find their length using len command

In [12]:
T[0:3]

('Hello', 7.8, 90)

In [13]:
T[3:5]

('World', 122)

In [17]:
len(T)

5

In [22]:
#Tuples are immutable - we can't change them 
ratings = (3,3.5,6.5, 7.0,2.2)
type(ratings)

tuple

In [24]:
ratings[2]= 8.0  # Not allowed since tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [29]:
#we need to create a new tuple 
sortedRatings = sorted(ratings)
sortedRatings

[2.2, 3, 3.5, 6.5, 7.0]

A tuple can contain other tuples and can be accessed using index

In [30]:
myTuple = (1,2,("Hello","World"),(6.3,8.4),("Rubina",3.4),0,23,"Parveen")

In [31]:
#I want to access world from myTuple 
myTuple[2][1]

'World'

In [32]:
#I want to access 23 from my tuple 
myTuple[6]

23

In [33]:
#I want to access rubina 
myTuple[4][0]

'Rubina'

In [35]:
myTuple[4][0][3] # I can access even a single character in Rubina

'i'

#### List 
They are defined using [], they are mutable. Can contain-string, int, float, other lists and tuples. Negative indexing can be used. Slicing can be done.

In [37]:
myList = [1,2,["Hello","World"],(6.3,8.4),["Rubina",3.4],0,23,"Parveen"]

In [38]:
# Slicing 
myList[2:5]

[['Hello', 'World'], (6.3, 8.4), ['Rubina', 3.4]]

In [39]:
#can access hello as 
myList[2][0]

'Hello'

In [40]:
#Concatenation of lists 
myList = myList + ["Pop", 9.3, "Push"]
myList

[1,
 2,
 ['Hello', 'World'],
 (6.3, 8.4),
 ['Rubina', 3.4],
 0,
 23,
 'Parveen',
 'Pop',
 9.3,
 'Push']

In [42]:
#directly concatenating in the existing list since it is mutable 

myList.extend([["New","List"],78])  # Extend adds two more elements to the list a list["New","list"] and int 78
myList

[1,
 2,
 ['Hello', 'World'],
 (6.3, 8.4),
 ['Rubina', 3.4],
 0,
 23,
 'Parveen',
 'Pop',
 9.3,
 'Push',
 ['New', 'List'],
 78]

In [43]:
myList.append(["hi", 21]) # This will add another list to the list myList and not 2 elements 
myList

[1,
 2,
 ['Hello', 'World'],
 (6.3, 8.4),
 ['Rubina', 3.4],
 0,
 23,
 'Parveen',
 'Pop',
 9.3,
 'Push',
 ['New', 'List'],
 78,
 ['hi', 21]]

In [44]:
myList.extend(["booboo", 28]) # This will add 2 elements 
myList

[1,
 2,
 ['Hello', 'World'],
 (6.3, 8.4),
 ['Rubina', 3.4],
 0,
 23,
 'Parveen',
 'Pop',
 9.3,
 'Push',
 ['New', 'List'],
 78,
 ['hi', 21],
 'booboo',
 28]

In [45]:
myList

[1,
 2,
 ['Hello', 'World'],
 (6.3, 8.4),
 ['Rubina', 3.4],
 0,
 23,
 'Parveen',
 'Pop',
 9.3,
 'Push',
 ['New', 'List'],
 78,
 ['hi', 21],
 'booboo',
 28]

In [46]:
del(myList[0:4])

In [47]:
myList

[['Rubina', 3.4],
 0,
 23,
 'Parveen',
 'Pop',
 9.3,
 'Push',
 ['New', 'List'],
 78,
 ['hi', 21],
 'booboo',
 28]

In [48]:
myList[1] = "You"

In [49]:
myList

[['Rubina', 3.4],
 'You',
 23,
 'Parveen',
 'Pop',
 9.3,
 'Push',
 ['New', 'List'],
 78,
 ['hi', 21],
 'booboo',
 28]

In [50]:
#convert a string into list using split()
"Hello there what a beautiful day".split()

['Hello', 'there', 'what', 'a', 'beautiful', 'day']

In [53]:
#split on a specific character 
"Hello,How,Have,You,Been".split(",")   #Comma is a delimiter

['Hello', 'How', 'Have', 'You', 'Been']

In [54]:
# referencing 
B = ["hard rock", 23,9.12]
A = B # both A and B reference the same list 
A

['hard rock', 23, 9.12]

In [55]:
B

['hard rock', 23, 9.12]

In [56]:
# If I change an element in A. B will also change 
A[0] = "Howdy"

In [57]:
A

['Howdy', 23, 9.12]

In [58]:
B

['Howdy', 23, 9.12]

In [60]:
#### Cloning in Lists #####

C = A[:]  # C is a clone of A 
C

['Howdy', 23, 9.12]

In [63]:
#changing element of C 
C[2] = 89.21
C

['Howdy', 23, 89.21]

In [65]:
A # Changing C doesn't change A

['Howdy', 23, 9.12]

In [66]:
A[1] = 56.2

In [67]:
A

['Howdy', 56.2, 9.12]

In [69]:
C #Changing A doesn't change C

['Howdy', 23, 89.21]

## **Python Data Structure Functions**

### **List**

In [71]:
# Append() - adds 1 element to the list 

fruits = ["Apple", "Banana", "Orange"]
fruits.append("Mango")
fruits

['Apple', 'Banana', 'Orange', 'Mango']

In [72]:
# copy() - creates a shallow copy of a list 

myList = [1,2,3,4,5,6]
newList = myList.copy()
newList

[1, 2, 3, 4, 5, 6]

In [74]:
# count() - counts number of occurances of an element in the list 
myList = [1,2,1,3,5,8,3,1,3,1,7,8,3,1,0]
myList.count(1)

5

In [75]:
# del() - to delete an element or set of elements 
del(myList[2])

In [76]:
myList

[1, 2, 3, 5, 8, 3, 1, 3, 1, 7, 8, 3, 1, 0]

In [78]:
#extend() - adds more than 1 element into the list 

fruits.extend(["Grapes","Peach"])
fruits

['Apple', 'Banana', 'Orange', 'Mango', 'Grapes', 'Peach']

In [7]:
#insert() - insert elements at an index (index, value)
nums = [1,2,3,4]
nums.insert(2,0)

In [8]:
nums

[1, 2, 0, 3, 4]

In [9]:
#pop(idx) - removes an element from the list at the given index. if index not given it removes the last element 
nums.pop(2)
print(nums)
nums.pop()
print(nums)

[1, 2, 3, 4]
[1, 2, 3]

In [10]:
# remove(ele) - removes the element 
nums = [10,20,30,40]
nums.remove(30)

In [11]:
nums

[10, 20, 40]

In [12]:
#reverse() - reverses the order of the list - Note that it doesn't sort the list just reverses it 

nums = [98,23,54,78,90]
print(nums)
nums.reverse()
print(nums)

[98, 23, 54, 78, 90]
[90, 78, 54, 23, 98]

In [20]:
#sort() - sorts the list in ascending order. Use reverse = True for descending order 
nums.sort()

In [21]:
nums

[23, 54, 78, 90, 98]

In [22]:
nums.sort(reverse = True)
nums

[98, 90, 78, 54, 23]

### Dictionary

In [3]:
# Creating a dictionary 
person  = {"name": "Rubina", "age":28, "Sex":"Female", "City":"Dallas"}

In [4]:
person

{'name': 'Rubina', 'age': 28, 'Sex': 'Female', 'City': 'Dallas'}

In [5]:
#Accessing dictionary elements 
person["name"]

'Rubina'

In [6]:
person["age"]

28

In [10]:
#Add or modify 
person["name"] = "Marc"
person["Sex"] = "Male"
person["City"] = "Fullerton"
person

{'name': 'Marc', 'age': 28, 'Sex': 'Male', 'City': 'Fullerton'}

In [13]:
#Accessing value 
name = person["name"]
name

'Marc'

In [15]:
#clear() - removes all values, clears the dictionary 
person.clear()
person

{}

In [16]:
#copy() - creates a shallow copy, has same key value pairs but the objects are distinct 
person = {"name": "Rubina", "age":28, "Sex":"Female", "City":"Dallas"}
people = person.copy()

In [17]:
people

{'name': 'Rubina', 'age': 28, 'Sex': 'Female', 'City': 'Dallas'}

In [18]:
people["name"] = "Maria"

In [19]:
people

{'name': 'Maria', 'age': 28, 'Sex': 'Female', 'City': 'Dallas'}

In [20]:
person

{'name': 'Rubina', 'age': 28, 'Sex': 'Female', 'City': 'Dallas'}

In [21]:
person["name"] = "Marc"
person["Sex"] = "Male"
person

{'name': 'Marc', 'age': 28, 'Sex': 'Male', 'City': 'Dallas'}

In [22]:
people

{'name': 'Maria', 'age': 28, 'Sex': 'Female', 'City': 'Dallas'}

In [23]:
#del() - removes the specified key-value pair 

del(person["City"])
person

{'name': 'Marc', 'age': 28, 'Sex': 'Male'}

In [24]:
#items() - retrives all key-value pairs as tuples and creates a list of the key-value pairs tuples

items_list = list(people.items())

In [25]:
items_list

[('name', 'Maria'), ('age', 28), ('Sex', 'Female'), ('City', 'Dallas')]

In [26]:
# You can check for existance of a key in the dictionary 
if "name" in person: 
    print("Name exists")

Name exists

In [27]:
if "City" in person:
    print("city is present")
else: 
    print("city not in person")

city not in person

In [28]:
#keys()- retrieves all keys and converts it into list 
people.keys()

dict_keys(['name', 'age', 'Sex', 'City'])

In [29]:
#update() - updates key value pair 
people.update({"Country":"USA"})
people

{'name': 'Maria',
 'age': 28,
 'Sex': 'Female',
 'City': 'Dallas',
 'Country': 'USA'}

In [31]:
#value() - extracts values from dictionary and converts to list 
people.values()

dict_values(['Maria', 28, 'Female', 'Dallas', 'USA'])

### Sets

In [32]:
#Defining sets 
fruits = {"apple", "banana", "grapes"}

In [33]:
fruits

{'apple', 'banana', 'grapes'}

In [34]:
# adding an element 
fruits.add("mango")

In [35]:
fruits

{'apple', 'banana', 'grapes', 'mango'}

In [36]:
#copy() - shallow copy no effect to original set 
fruits2 = fruits.copy()

In [37]:
fruits2

{'apple', 'banana', 'grapes', 'mango'}

In [38]:
#discard() - to delete specific element 

fruits2.discard("apple")

In [39]:
fruits2

{'banana', 'grapes', 'mango'}

In [40]:
#issubset() - checks if a set is a subset of another set
fruits2.issubset(fruits)

True

In [41]:
fruits.issubset(fruits2)

False

In [42]:
#issuperset() - finds if a set is superset of another set 
fruits.issuperset(fruits2)

True

In [44]:
#pop() - removes an arbitrary element gives error is set is empty 
fruits2.pop()

'grapes'

In [45]:
fruits2.pop()

'mango'

In [46]:
fruits2.pop()

KeyError: 'pop from an empty set'

In [47]:
#remove() - for removing specific key 
fruits.remove("apple")

In [48]:
fruits

{'banana', 'grapes', 'mango'}

In [49]:
#update() - adds elements from another iteratable
fruits.update(["Kiwi", "Peach"])

In [50]:
fruits

{'Kiwi', 'Peach', 'banana', 'grapes', 'mango'}

In [51]:
veggies = {"Cauliflower","Spinach","Brinjal","Avacado"}

In [52]:
#union 
allVeggiesFruits = fruits.union(veggies)
allVeggiesFruits

{'Avacado',
 'Brinjal',
 'Cauliflower',
 'Kiwi',
 'Peach',
 'Spinach',
 'banana',
 'grapes',
 'mango'}

In [53]:
fruits.add("Avacado")

In [55]:
#Intersection
intersect = fruits.intersection(veggies)
intersect

{'Avacado'}

In [57]:
#difference_set - what is different in the 2 sets 
fruits.difference(veggies)

{'Kiwi', 'Peach', 'banana', 'grapes', 'mango'}

In [58]:
#symmetric_difference 
veggies.symmetric_difference(fruits)

{'Brinjal',
 'Cauliflower',
 'Kiwi',
 'Peach',
 'Spinach',
 'banana',
 'grapes',
 'mango'}

In [59]:
fruits

{'Avacado', 'Kiwi', 'Peach', 'banana', 'grapes', 'mango'}

In [60]:
veggies

{'Avacado', 'Brinjal', 'Cauliflower', 'Spinach'}

In [61]:
fruits.clear()

In [62]:
fruits

set()